@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --fuchsia-50: #d1fcff;
  --fuchsia-100: #059e5e40;
  --fuchsia-200: #3db885;
  --fuchsia-300: #3db885;
  --fuchsia-300-t: #059e5e40;
  --fuchsia-400: #059e5e;
  --fuchsia-500: #077e4c;
  --fuchsia-600: #077e4c;
  --fuchsia-700: #077e4c;
  --fuchsia-800: #056c41;
  --fuchsia-900: #077e4c;

  --background: var(--fuchsia-50); 
  --sep: #059e5e20;
  --popover: var(--fuchsia-50);
  --accent: var(--fuchsia-100);
  --muted: var(--fuchsia-200);
  --secondary: var(--fuchsia-200);
  --primary: var(--fuchsia-600);
  --dark: var(--fuchsia-800);
  --destructive: var(--fuchsia-600);
  --foreground: var(--fuchsia-900);

  --border: var(--fuchsia-300-t);
  --input: var(--fuchsia-700);
  --ring: var(--fuchsia-900);

  --card: var(--fuchsia-50);

  --card-foreground: var(--fuchsia-900);

  --popover-foreground: var(--fuchsia-900);

  --primary-foreground: #ffffff; /* White */

  --secondary-foreground: var(--fuchsia-900);

  --muted-foreground: var(--fuchsia-700);

  --accent-foreground: var(--fuchsia-900);

  --destructive-foreground: #ffffff; /* White */


  --radius: 0.5rem;
}

/* .dark {
  --background: var(--fuchsia-900);
  --foreground: #ffffff;

  --card: var(--fuchsia-900);
  --card-foreground: #ffffff; 

  --popover: var(--fuchsia-900);
  --popover-foreground: #ffffff; 

  --primary: #ffffff; 
  --primary-foreground: var(--fuchsia-600);

  --secondary: var(--fuchsia-800);
  --secondary-foreground: #ffffff; 

  --muted: var(--fuchsia-800);
  --muted-foreground: var(--fuchsia-700);

  --accent: var(--fuchsia-800);
  --accent-foreground: #ffffff; 

  --destructive: var(--fuchsia-600);
  --destructive-foreground: #ffffff; 

  --border: var(--fuchsia-300-t);
  --input: var(--fuchsia-800);
  --ring: var(--fuchsia-200);
} */


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}